<!DOCTYPE html>
<html>
  <head>
    <title>CDPSgram</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
  	<div id="header">
    	<h1><a href="/">CDPSgram</a></h1>
  	</div>
    <div id="container">
	    <div id="nav-bar">
	    	<ul>
	    		<li><a href="/photos">My photos</a></li>
	    		<li><a href="/photos/new">Upload new photo</a></li>
          <li><a href="/users">Users</a></li>
          <% if(!session.user) { %>
          <li><a href="/users/new">New user</a></li>
          <li><a href="/session">Login</a></li>
          <% } else { %>
          <br/>
          <li><%= session.user.username %></li>
          <li><a href="/users/<%= session.user.id %>">Profile</a></li>
          <li><a href="/session?_method=DELETE">Logout</a></li>
          <% } %>
	    	</ul>
	    </div>
	    <div id="container-body"><%- body %></div>
    </div>
  </body>
</html>